
    <ol class="app-states">
        <li class="phone"><img src="images/1-home.png" alt="iphone coffee"></li>
        <li class="phone"><img src="images/2-Onboarding.png" alt="iphone coffee"></li>
        <li class="phone"><img src="images/scroll-down.png" alt="scroll icon"></li>
        <li class="phone"><img src="images/3-Sign-In.png" alt="iphone coffee"></li>
        <li class="phone"><img src="images/4-Sign-Up.png" alt="iphone coffee"></li>
        <li class="phone"><img src="images/5-Vanilla-Latte.png" alt="iphone coffee"></li>
        <li class="phone"><img src="images/6-Choose-Items.png" alt="iphone coffee"></li>
        <li class="phone"><img src="images/7-Confirm-Order.png" alt="iphone coffee"></li>
        <li class="phone"><img src="images/8-Placing-Order.png" alt="iphone coffee"></li>
        <li class="phone"><img src="images/9-My-Orders.png" alt="iphone coffee"></li>
    </ol>

<div class="clear-float">
    
</div>